<html>

<head>
    <title>Famous Dragons</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
</head>

<body>

<div id="mainpanel">
    <h1>All people are afraid of these dragons:</h1>
    <ol>
        <li>Smaug</li>
        <li>St George's Dragon</li>
        <li>Puff the Magic Dragon</li>
        <li>Spyro</li>
        <li>Yevaud</li>
    </ol>
</div>
    <%- include('navbar.ejs') %>
</body>
</html>