<div id="navbar">
<form method="post" action="welcome">
    <a href="/">Home</a> &diam;
    <a href="/famous">Famous Dragons</a> &diam;
    <span id="navwelcome"></span>
</form>
</div>


<script>


$(function() {
    var name = "<%=data.username %>";
    var greetNewcomer = "<input type='text' name='visitorname' /><button type='submit'>Tell me your name</button>";

    if(name=="") {
        $('#navwelcome').html(greetNewcomer);
    }
    else {
        $('#navwelcome').html("Welcome, "+name+"!");
    }
        
});


</script>