<html>
<head>
    <title>All About Dragons</title>
    <%- include('header.ejs') %>
</head>

<body>

<h1>So you have come to learn more about dragons...</h1>

<%- include('navbar.ejs') %>

</body>

</html>