<html>

<head>
    <title>Dragons are GREAT</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
</head>

<body>

<div id="mainpanel">
    I love dragons.  You don't even get it.  But perhaps <a href="/famous">some examples will convince you</a>.
</div>

    <%- include('navbar.ejs') %>
</body>
</html>