<div id="navbar">
<form method="post" action="welcome">
    <a href="/">Home</a> &diam;
    <a href="/famous">Famous Dragons</a> &diam;
    <% if(data.name) { %>
    Hello <%=data.name%>!
    <% } else { %>
    <input type="text" name="visitorname" />

    <button type="submit">Tell me your name</button>
    <% } %>
</form>
</div>